body {
  background-color: #eee;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 50px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: white;
}

.main-wrapper {
  width: 100%;
  height: fit-content;
  margin-top: 100px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 600px;
  margin: auto;
}

.post-info-container {
  display: flex;
  height: 55px;
}

.post-user-image {
  height: 100%;
  width: auto;
}

.post-user-image img {
  height: 100%;
  border-top-left-radius: 0.5rem;
}

.post-info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.post-info div {
  margin: 2px 0;
}

.post-timestamp {
  font-size: 15px;
  color: #888888;
}

.post-container,
.new-post-form {
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  background-color: white;
  margin: 10px 0;
}

.post-content {
  padding: 15px;
}

.post-stats {
  padding: 0 15px 15px;
}

.post-like-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-like-button {
  cursor: pointer;
  color: rgb(0, 61, 0);
}

.post-like-button:hover svg,
.post-like-button.fill svg {
  fill: green;
}

.post-like-count {
  position: relative;
  top: 2px;
  margin-left: 10px;
  /* font-size: 18px; */
  font-weight: 100;
  color: #999;
}

.new-post-form {
  padding: 25px;
}

.new-post-form form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.new-post-button {
  background-color: white;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 0.25rem;
  cursor: pointer;
  max-width: 100px;
  margin-top: 20px;
}

.new-post-body {
  resize: none;
  font-size: 15px;
  border: none;
  cursor: text;
}

/* Credits: https://stackoverflow.com/questions/20726174/placeholder-for-contenteditable-div */

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}

.new-post-body {
  outline: none;
}

.new-post-button:hover {
  background-color: #eee;
}
