{% include "head.html" %}
{% load static %}

<!DOCTYPE html>
<html>
  {% block common_head %}
    <link href="{% static 'users/users.css' %}" rel="stylesheet" />
  {% endblock common_head %}
  </head>
  <body>
    <div class="header"></div>
    <div class="main">
      <div class="form-container">
        <form method="post" class="form">
          {% csrf_token %}
          <input type="text" class="input username-field" placeholder="Username" name="username" />
          <input type="password" class="input password-field" placeholder="Password" name="password" />
          <button class="submit-button">
            Login
          </button>
          <div class="form-links">
            <a class="form-link" href="/user/signup">Don't have an account? Sign up now!</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
