{% include "head.html" %}
{% load static %}

<!DOCTYPE html>
<html>
  {% block common_head %}
    <link href="{% static 'users/users.css' %}" rel="stylesheet" />
  {% endblock common_head %}
  </head>
  <body>
    <div class="header"></div>
    <div class="main">
      <div class="form-container">
        <form method="post" class="form">
          {% csrf_token %}
          <input type="text" class="input" placeholder="First Name" name="firstname" />
          <input type="text" class="input" placeholder="Last Name" name="lastname" />
          <input type="text" class="input" placeholder="Username" name="username"/>
          <input type="password" class="input password-field" placeholder="Password" name="password" />
          <input type="password" class="input password-field" placeholder="Re-Enter Password" name="repassword" />
          <button class="submit-button">
            Sign Up
          </button>
          <div class="form-links">
            <a class="form-link" href="/login">Already have an account? Login now!</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
